html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vh 10vh 5vh 44vh 22vh 12vh 30vh 8vh 25vh ;
    grid-gap: 3px;
    background: dimgrey;
}

header {
    background: black;
    grid-column: 1/7;
    grid-row: 1/2;
    color: white;
}

#div1 {
    background: dimgrey; /*vai fazer parte do fundo após aplicar as ferramentas necessárias */
    grid-column: 1/7;
    grid-row: 2/3;
    text-align: center;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

nav {
    background: black;
    grid-column: 2/6;
    grid-row: 3/4;
    color: white;
    text-align: center;
}

#div2 {
    background: black;
    grid-column: 2/6;
    grid-row: 4/5;
}

#div3 {
    background: black;
    grid-column: 2/4;
    grid-row: 5/6;
}

#div4 {
    background: black;
    grid-column: 4/6;
    grid-row: 5/6;
}

#div5 {
    background: rgba(0, 0, 0, 0.562); /*vai fazer parte do fundo após aplicar as ferramentas necessárias */
    grid-column: 2/6;
    grid-row: 6/7;
}

#div6 {
    background: black;
    grid-column: 2/3;
    grid-row: 7/8;
}

#div7 {
    background: black;
    grid-column: 3/4;
    grid-row: 7/8;
}

#div8 {
    background: black;
    grid-column: 4/5;
    grid-row: 7/8;
}

#div9 {
    background: black;
    grid-column: 5/6;
    grid-row: 7/8;
}

#div10 {
    background: rgba(0, 0, 0, 0.562); /*vai fazer parte do fundo após aplicar as ferramentas necessárias */
    grid-column: 2/6;
    grid-row: 8/9;
}

footer {
    background: black;
    grid-column: 1/7;
    grid-row: 9/10;
}